/* header */

header {
    width: 1440px;
    margin: 0 auto;
    background: #2A9D8F;
    display: block;
    padding: 38px 130px;
}

.navigation {
    display: inline-block;
    vertical-align: middle;
}

.header_logo {
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 710px;
}

.header_logo img {
    margin: 12px 13px;
    width: 20px;
    height: 22px;
}


header nav ul li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0 auto;
    margin-left: 51px;
}

header nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Nerko One';
    font-size: 20px;
}






/* article */

.first-article {
    display: block;
    width: 780px;
    margin: 200px auto;
}

h2 {
    font-family: 'Poppins';
    color: #4D4D4D;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.24px;
    margin-bottom: 60px;
    text-align: center;
}

.first-article p {
    color: #656565;
    font-family: 'Nerko One';
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 52px;
}

.article-body {
    width: 100%;
}
